@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Black.eot');
    src: local('Neue Haas Unica Black'), local('NeueHaasUnica-Black'),
        url('NeueHaasUnica-Black.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Black.woff2') format('woff2'),
        url('NeueHaasUnica-Black.woff') format('woff'),
        url('NeueHaasUnica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Medium.eot');
    src: local('Neue Haas Unica Medium'), local('NeueHaasUnica-Medium'),
        url('NeueHaasUnica-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Medium.woff2') format('woff2'),
        url('NeueHaasUnica-Medium.woff') format('woff'),
        url('NeueHaasUnica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}




@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-ExtraBold.eot');
    src: local('Neue Haas Unica Extra Bold'), local('NeueHaasUnica-ExtraBold'),
        url('NeueHaasUnica-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-ExtraBold.woff2') format('woff2'),
        url('NeueHaasUnica-ExtraBold.woff') format('woff'),
        url('NeueHaasUnica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}





@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Bold.eot');
    src: local('Neue Haas Unica Bold'), local('NeueHaasUnica-Bold'),
        url('NeueHaasUnica-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Bold.woff2') format('woff2'),
        url('NeueHaasUnica-Bold.woff') format('woff'),
        url('NeueHaasUnica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-Regular.eot');
    src: local('Neue Haas Unica Regular'), local('NeueHaasUnica-Regular'),
        url('NeueHaasUnica-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-Regular.woff2') format('woff2'),
        url('NeueHaasUnica-Regular.woff') format('woff'),
        url('NeueHaasUnica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Unica';
    src: url('NeueHaasUnica-ExtraBlack.eot');
    src: local('Neue Haas Unica Extra Black'), local('NeueHaasUnica-ExtraBlack'),
        url('NeueHaasUnica-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasUnica-ExtraBlack.woff2') format('woff2'),
        url('NeueHaasUnica-ExtraBlack.woff') format('woff'),
        url('NeueHaasUnica-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

